@charset 'UTF8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

header
{
    background-color: black;
    margin-top: -21px;
    margin-right: -8px;
    margin-left: -8px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
header > h1
{
    font-family: 'Passion One', 
    cursive;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    color: white;
}
header > p
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -50px;
    font-size: medium;
}
header > p > a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header > p > a:hover
{
    text-decoration: underline;
}
main > article
{
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
}
main > section.primeirases
{
    position: absolute;
    background-image: url("imagens/background001.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 550px;
    left: -8px;
    margin-left: +8px;
}
main > section.primeirases > article
{
    color: white;
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    margin-left: 1em;
    margin-top: 3em;
    background-color: rgba(0, 0, 0, 0.445);
    width: 400px;
    
}